<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="./img/storm.png">
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Gadi Okoth. It uses data from mapbox.com and darksky.net</p>
        <img class="portrait" src="./img/DOVE.jpg">
    </div>

    {{>footer}}
</body>
</html>